/*
header {
  background: #000 !important;
  color: white !important;
}
*/
/* img {
  filter: grayscale(1);
}
a:hover img {
  filter: none;
} */

main {
  //margin: 0 !important;
}
/* @supports (mix-blend-mode: exclusion) {
  @media screen and (min-width: 64em) {
    header {
      background: #ff455520 !important;
    }
    header,
    footer {
      mix-blend-mode: exclusion;
    }
    header *,
    footer {
      color: white !important;
    }
  }
}
 */

header {
  //box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}
.bg1 {
  background-size: 600px 600px;
}
