# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# notice: variables prefixed with GATSBY_ will be made available to client-side code
# GATSBY_WP_URL=the_url_of_your_wordpress_website
# GATSBY_MAILCHIMP_ENDPOINT=https://gmail.us20.list-manage.com/subscribe/post?u={your_value}&amp;id={your_id}
# GATSBY_DISQUS_NAME=your_disqus_name_comes_here