@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "base.css";
@import "wordpress.css";

@layer base {
  /* Pagination */
  .prev-next-text {
    @apply text-sm font-bold tracking-widest uppercase;
  }
  .prev-next-anim {
    @apply transition duration-700 transform scale-x-0 bg-text dark:bg-dark-text  w-7 h-[1px] group-hover:scale-x-100;
  }
  /* Menu */
  .menu-item,
  .menu-item > a {
    @apply transition duration-300 text-headerColor dark:text-dark-headerColor;
  }
  .menu-item button {
    @apply transition duration-500 hover:text-menuHoverColor dark:hover:text-dark-menuHoverColor;
  }
  .menu-item > a {
    @apply hover:text-menuHoverColor dark:hover:text-dark-menuHoverColor;
  }
  .menuV > .menu-item {
    @apply py-3 border-b border-dashed border-opacity-40 last:border-none;
  }
  .menu-item [aria-current="page"] {
    @apply italic;
  }
  /* Widgets */
  .widget-title {
    @apply mb-3;
  }
}

@layer components {
  /* Components */
  .center-container {
    @apply px-5 mx-auto md:px-6 lg:px-10 w-[100%];
  }
  .card {
    @apply shadow-md bg-cardBg dark:bg-dark-cardBg;
  }
  .divider {
    @apply bg-text dark:bg-dark-text mx-auto h-[1px] w-[90%] opacity-25;
  }
  /* Buttons */
  .btn {
    @apply px-4 py-2 text-white transition duration-500;
  }
  .btn-primary {
    @apply bg-primary hover:bg-secondary;
  }
  .btn-secondary {
    @apply bg-secondary hover:bg-primary;
  }
  /* Forms */
  .styled-input {
    @apply input-focus;
    @apply bg-transparent border-0 border-b-2 border-text dark:border-dark-text;
    @apply focus:border-b-2;
  }
}

@layer utilities {
  .input-focus {
    @apply focus:outline-none focus:ring-gray-200 dark:focus:ring-opacity-25;
  }
  input[type="search"]:-webkit-autofill {
    box-shadow: theme("colors.searchBg") 0px 0px 0px 1000px inset;
    -webkit-text-fill-color: theme("colors.text");
  }
  .dark input[type="search"]:-webkit-autofill {
    box-shadow: theme("colors.dark.searchBg") 0px 0px 0px 1000px inset;
    -webkit-text-fill-color: theme("colors.dark.text");
  }
}
